<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Meus Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando favoritos...</p>
  </div>

  <div *ngIf="!isLoading && favoritePokemons.length === 0" class="ion-text-center empty-state">
    <h3>Nenhum Pokémon favoritado!</h3>
    <p>Navegue pela Pokédex e clique na estrela para salvar seus preferidos.</p>
  </div>

  <ion-grid *ngIf="!isLoading && favoritePokemons.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let pokemon of favoritePokemons">
        <ion-card class="favorite-card" [routerLink]="['/pokemon', pokemon.id]" button>
          <div class="img-box">
            <img 
              [src]="pokemon.sprites.other['official-artwork'].front_default" 
              [alt]="pokemon.name" 
            />
          </div>
          <ion-card-header>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <ion-card-title>#{{ pokemon.id }} {{ pokemon.name | titlecase }}</ion-card-title>
              <ion-button fill="clear" size="small" (click)="removeFavorite($event, pokemon.id)">
                <ion-icon name="heart" color="danger"></ion-icon>
              </ion-button>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>